<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
    <li><a href="/admin">Pannello admin</a></li>
    <li><a href="{% url 'prova_pratica_voti:voti_a'%}">a</a></li>
    <li><a href="{% url 'prova_pratica_voti:voti_b'%}">b</a></li>
    <li><a href="{% url 'prova_pratica_voti:voti_c'%}">c</a></li>
    <li><a href="{% url 'prova_pratica_voti:voti_d'%}">d</a></li>
    </ul>
    
</body>
</html>