<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <ol>
        <li><a href="/">Root</a></li>
        <li><a href="{% url 'prova_pratica_1:maxmin'%}">somma</a></li>
        <li><a href="{% url 'prova_pratica_1:media'%}">media</a></li>
        <li><a href="{% url 'prova_pratica_1:voti'%}">voti</a></li>


    </ol>
</body>
</html>