<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    voti={{voti}}
    <table>
        <tr>
            <td>studente</td>
            <td>voti</td>
        </tr>
        <tr>
            <td>studente1</td>
            <td>voti[0]</td>
        </tr>
        <tr>
            <td>studente2</td>
            <td>voti[1]</td>
        </tr>
        <tr>
            <td>studente3</td>
            <td>voti[2]</td>
        </tr>
        <tr>
            <td>studente4</td>
            <td>voti[3]</td>
        </tr>
        <tr>
            <td>studente5</td>
            <td>voti[4]</td>
        </tr>
    </table>

</body>
</html>